<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} — {% endif %}ANDREW'S LOG</title>
  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
</head>
<body>

  <header class="site-header">
    <div class="site-banner">
<pre class="site-logo">  ████   ██    ██ ██████   ██████   ████████ ██      ██ ████   ██████      ██         ████     ██████
██    ██ ████  ██ ██    ██ ██    ██ ██       ██      ██      ██            ██       ██    ██ ██
████████ ██  ████ ██    ██ ██████   ██████   ██  ██  ██        ████        ██       ██    ██ ██  ████
██    ██ ██    ██ ██    ██ ██  ██   ██       ██  ██  ██            ██      ██       ██    ██ ██    ██
██    ██ ██    ██ ██████   ██    ██ ████████ ████  ████      ██████        ████████   ████     ██████
═════════════════════════════════════════════════════════════════════════════════════════════════════</pre>
    <p class="site-tagline">opinions &amp; observations</p>
    </div>
    <nav>
      <a href="{{ '/' | relative_url }}">posts</a>
      <a href="{{ '/guides/' | relative_url }}">guides</a>
      <a href="{{ '/about.html' | relative_url }}">about</a>
    </nav>
    <hr>
  </header>

  <main>
    {{ content }}
  </main>

</body>
</html>
